/* Regular Font */
@font-face {
  font-family: 'FontAwesomeRegular';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'),
       url('../fonts/fa-regular-400.woff') format('woff'),
       url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Solid Font */
@font-face {
  font-family: 'FontAwesomeSolid';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'),
       url('../fonts/fa-solid-900.woff') format('woff'),
       url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Brands Font */
@font-face {
  font-family: 'FontAwesomeBrands';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'),
       url('../fonts/fa-brands-400.woff') format('woff'),
       url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
